section.projects
    div.row.header
        div.col-6 
            h2 Projects
        div.col-6
            form(action=`/cms/projects/new?token=${token}` method="GET")
                button(type="submit") New

    div.items
        table.table
            tr 
                th
                th Id 
                th Name 
                th Tags
                th 
            
            each project in data
                tr
                    td 
                        img(src=project.image_url)
                    td= project.id
                    td= project.name
                    td= project.tags
                    th
                        button(onClick=`openModal('project', ${project.id})`) Edit

    include ./modals/m_project

script.
    let token = JSON.parse(`!{JSON.stringify(token)}`)
    let data = JSON.parse(`!{JSON.stringify(data)}`)
