section.projects
    div.row.header
        div.col-6 
            h2 Projects
        div.col-6
            form(action=`/cms/projects/new?token=${token}` method="GET")
                button(type="submit") New

    div.items
        table.table
            tr
                th(style="width: 15%")
                th(style="width: 5%") # 
                th(style="width: 30%") Name 
                th(style="width: 40%") Tags
                th(style="width: 5%")
                th(style="width: 5%")
            
            each project in data
                tr
                    td 
                        img(src=project.image_url)
                    td= project.id
                    td= project.name
                    td= project.tags
                    th
                        button.edit(onClick=`openModal('projects', ${project.id})`) Edit
                    th
                        button.remove(onClick=`deleteItem('projects', ${project.id})`) Delete

    include ./modals/m_project

script.
    let token = JSON.parse(`!{JSON.stringify(token)}`)
    let data = JSON.parse(`!{JSON.stringify(data)}`)
